<h2 class="card-title">Self-development golas tracker</h2>
<br/>
<h5 class="card-title">
    BeFocused is a convenient centralizede personal space for any students, 
    learners or other interested in self-education and self-development people.
</h5>
<br/>
<p class="card-text">
    Moreover, setting goals in the right way can help you achieve them! 
    goal should be SMART and here's what it means:
</p>
<p class="card-text">
    Specific: Well defined, clear and unambiguous
</p>
<p class="card-text">
    Measurable: With specific criteria that measure your progress towards
    the accomplishment of the goal
</p>
<p class="card-text">
    Achivable: Attainable and not impossible to achieve
</p>
<p class="card-text">
    Realistic: Within reach, realistic, and relevant to your life purpose
</p>
<p class="card-text">
    Timely: With a clearly defined timeline, including a starting date and a
    target date. The purpose is to create urgency.
</p>  
