<div class="container">
    <p><h5>My Goals</h5></p>
    <div class="card">
        <div class="card-body">
            <%= link_to "Create a Goal", 
                { controller: "goals", action: "new" },
                class: "btn btn-primary" %>
        </div>
    </div>
</div>